extends layout2

block content
    .content-inner.chart-cont
      // ***** CONTENT *****
      #card-prof.row.mt-2
        .col-md-3
          .card.hovercard
            .cardheader
            .avatar
              img.img-fluid(alt="" src="/uploads/"+cleanerDetails.profile_pic)
            .info
              .title
                a(target="_blank" href="#") #{cleanerDetails.full_name}
              .desc #{cleaner.email}
              hr
            nav.nav.text-center.prof-nav
              ul.list-unstyled
                //- li
                //-   a(href="#") Profile
                li
                  a(href="#") Profile
                li
                  a(href="#") Setting
                li
                  a(href="/cleaner/cleaner_logout") Logout
            .bottom
              a.btn.btn-info.btn-twitter.btn-sm(href="#")
                i.fa.fa-twitter
              a.btn.btn-danger.btn-sm(rel="publisher" href="#")
                i.fa.fa-google-plus
              a.btn.btn-primary.btn-sm(rel="publisher" href="#")
                i.fa.fa-facebook
        .col-md-9
          .card.hovercard
            .tab(role="tabpanel")
              ul.nav.nav-tabs(role="tablist")
                //- li.nav-item
                //-   a.nav-link.active(href="#profile" role="tab" data-toggle="tab")
                //-     span
                //-       i.fa.fa-user
                //-     |  Profile
                li.nav-item
                  a.nav-link.active(href="#buzz" role="tab" data-toggle="tab")
                    span
                      i.fa.fa-user
                    |  Profile
                li.nav-item
                  a.nav-link(href="#references" role="tab" data-toggle="tab")
                    span
                      i.fa.fa-cog
                    |  Setting
              // Tab panes
              .tab-content.tabs
                #buzz.tab-pane.fade.show.active(role="tabpanel")
                  .panel.panel-default.widget
                    .panel-body
                      p
                        | #{cleanerDetails.profile}
                      #report4.row
                        .col-md-4
                          .card.text-center.social-bottom.sb-fb
                            i.fa.fa-facebook
                            div 3250 +
                            p Likes
                        .col-md-4
                          .card.text-center.social-bottom.sb-tw
                            i.fa.fa-twitter
                            div 2345 +
                            p Following
                        .col-md-4
                          .card.text-center.social-bottom.sb-gp
                            i.fa.fa-google-plus
                            div 1253 +
                            p Followers
                      .row.mt-3
                        h5.col-12.mb-2 User Info
                        .col-6
                          .form-group
                            strong.mr-5
                              i.fa.fa-envelope  E-mail:
                            |     #{cleaner.email}
                          .form-group
                            strong.mr-5
                              i.fa.fa-phone  Phone:
                            |    #{cleanerDetails.mobile_number}
                          .form-group
                            strong.mr-5
                              i.fa.fa-map  City:
                            |     #{cleanerDetails.city}
                        .col-6
                          .form-group
                            strong.mr-5
                              i.fa.fa-globe  Postcode:
                            |     #{cleanerDetails.postcode}
                          .form-group
                            strong.mr-5
                              i.fa.fa-map-marker  Address:
                            |    #{cleanerDetails.address}
                          .form-group
                            strong.mr-5
                              i.fa.fa-money  Income/hour:
                            |    $#{cleanerDetails.income}
                #references.tab-pane.fade(role="tabpanel")
                  form(method='POST', action='/cleaner/edit/'+encodeURIComponent(cleaner.cleanerid)+'/'+cleaner._id)
                    .row.mx-2
                      .col-md-12.panel-heading
                        h3.panel-title
                          i.fa.fa-comment
                          |  Edit Info
                        br
                      .col-md-6
                        .form-group.row
                          label.col-form-label(for="example-text-input" style="width: 85px;") Full Name
                          .col-9
                            input#example-text-input.form-control(type="text" name='fullName' value=cleanerDetails.full_name)
                        .form-group.row
                          label.col-form-label(for="example-email-input" style="width: 85px;") Postcode
                          .col-9
                            input#example-email-input.form-control(type="text" name="postcode" value=cleanerDetails.postcode)
                        .form-group.row
                          label.col-form-label(for="example-url-input" style="width: 85px;") Address
                          .col-9
                            textarea#example-url-input.form-control(type="text" name='address' rows='5') #{cleanerDetails.address}
                        .form-group.row
                          label(for="exampleSelect1") Extra Tasks
                          .col-9
                            select#exampleSelect1.form-control(multiple="multiple" name="extra_tasks")
                              option(value="ironing") Ironing
                              option(value="inside_windows") Inside Windows
                              option(value="inside_oven") Inside Oven
                              option(value="laundry") Laundry
                              option(value="inside_fridge") Inside Fridge
                      .col-md-6
                        .form-group.row
                          label.col-form-label(for="example-text-input" style="width: 85px;") City
                          .col-9
                            input#example-text-input.form-control(type="text" name='city' value=cleanerDetails.city)
                        .form-group.row
                          label.col-form-label(for="example-tel-input" style="width: 85px;") Mobile Number
                          .col-9
                            input#example-tel-input.form-control(type="tel" name="mobileNumber" value=cleanerDetails.mobile_number)
                        .form-group.row
                          label.col-form-label(for="example-tel-input" style="width: 85px;") Desired Income/hour
                          .col-9
                            input#example-tel-input.form-control(type="tel" name="income" value=cleanerDetails.income)
                        .form-group.row
                          label.col-form-label(for="example-url-input" style="width: 85px;") Profile
                          .col-9
                            textarea#example-url-input.form-control(type="text" name='profile' rows='5') #{cleanerDetails.profile}
                      button.btn.btn-general.btn-blue.special(type='submit') Update


