extends layout

block content
        #card-1.row.mt-2
            //- p #{typeof(schedule)}
            if schedule == null
                .col-sm-12.col-md-12.col-lg-12
                    .card.card-inverse.card-info
                        .card-block
                            h4.card-title SORRY NO CLEANER HAS ACCEPTED YOUR REQUEST YET!
            else
                .col-sm-6.col-md-6.col-lg-6
                    h5 Your Cleaner's Details
                    .card.card-inverse.card-info
                        img.card-img-top(src="/uploads/"+cleanerDetails.profilePic)
                        .card-block
                            h6 Cleaner Name:
                                strong.card-title  #{cleanerDetails.fullName}
                            h6 Mobile Number: #{cleanerDetails.mobileNumber}
                            h6 Email: #{cleanerDetails.email}
                            //- .cleaner-rating
                            //-     i.fa.fa-fw.fa-star  #{cleanerDetails.rating}
                        //- h4.card-title #{clientDetails.fullName}
                        .card-footer
                            //- small Last updated #{cleanerDetails.updated}
                            form(method="POST", action="/rating/cleaner/"+encodeURIComponent(client._id)+"/"+encodeURIComponent(cleanerDetails.cleanerID))
                                select.rate(name="rating")
                                    option(value=1) 1
                                    option(value=2) 2
                                    option(value=3) 3
                                    option(value=4) 4
                                    option(value=5) 5
                                button.btn.btn-info.float-right.btn-sm Rate Cleaner
                .col-sm-6.col-md-6.col-lg-6
                    h5 Your Cleaning Schedule
                    .accrodion-regular
                        #accordion3
                            - function changeDate(dateString){
                                //- -var newDate = new Date(dateString);
                                //- -var newDate = date.format(newDate, 'ddd, MMM DD YYYY');
                                //- -return newDate;
                                -var date = new Date(dateString);
                                -var d = date.getDate();
                                -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
                                -var m = monthNames[date.getMonth()];
                                -var y = date.getFullYear();
                                -var h = date.getHours();
                                -var min = date.getMinutes();
                                -return d+' '+m+' '+y;}
                            if schedule.lastClean.lastCleanDate === undefined
                                .card
                                    #headingSeven.card-header
                                        h5.mb-0
                                        button.btn.btn-link(data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven")
                                            span
                                            | There is no past Clean
                            else
                                .card
                                    -var newClass = clientDetails.fullName.split(" ")
                                    -var name1 = '#'+ newClass[1]
                                    -var name2 = newClass[1]
                                    #headingSeven.card-header
                                        h5.mb-0
                                        button.btn.btn-link(data-toggle="collapse" data-target=name1 aria-expanded="true" aria-controls="collapseSeven")
                                            span.fa.fa-sort-desc.mr-3
                                            | #{changeDate(schedule.lastClean[0].lastCleanDate)}
                                            button.btn.btn-info.float-right.btn-sm Last Clean Details
                                    div(id=name2).collapse.show(aria-labelledby="headingSeven" data-parent="#accordion3")
                                        .card-body
                                            if schedule.lastClean[0].paidStatus == false
                                                p.lead
                                                    | Payment Status:  Not Paid
                                            else
                                                p.lead
                                                    | Payment Status:  Paid
                                            if schedule.lastClean[0].cleanStatus == false
                                                p.lead
                                                    | Clean Status: Not Cleaned
                                            else
                                                p.lead
                                                    | Clean Status: Cleaned
                                            if schedule.lastClean[0].cancelStatus == true
                                                button.btn.btn-danger.btn-sm Schedule Canceled
                                            p.lead
                                                | Total Hours: #{schedule.totalHours}
                                            p.lead
                                                | Time: #{clientDetails.time}
                                        //- a.btn.btn-secondary(href="#") Go somewhere
                            .card.mb-2
                                -var newClass = clientDetails.fullName.split(" ")
                                -var name1 = '#'+ newClass[0]
                                -var name2 = newClass[0]
                                #headingEight.card-header
                                    h5.mb-0
                                    button.btn.btn-link.newClass.collapsed(data-toggle="collapse" data-target=name1 aria-expanded="false" aria-controls="collapseEight")
                                        span.fa.fa-sort-desc.mr-3
                                        | #{changeDate(schedule.currentClean[0].currentCleanDate)}
                                        button.btn.btn-info.float-right.btn-sm Current Clean Details
                                div(id=name2).collapse(aria-labelledby="headingEight" data-parent="#accordion3")
                                    .card-body
                                        p.lead
                                            | Payment Status: Not Paid
                                        p.lead
                                            | Clean Status: Not Cleaned
                                        p.lead
                                            | Charge per hour: &euro;#{cleanerDetails.income}
                                        p.lead
                                            | Total Hours: #{schedule.totalHours} Hours
                                        p.lead
                                            | Time: #{clientDetails.time}
                                        a.btn.btn-danger(href="/client/cancelschedule/"+encodeURIComponent(schedule._id)+'/'+encodeURIComponent(cleanerDetails.cleanerID)+"/"+encodeURIComponent(client._id)) Cancel Schedule
                            .card.mb-2
                                div(id="headingNine").card-header
                                    h5.mb-0
                                    button.btn.btn-link.collapsed(data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine")
                                        span
                                        | #{changeDate(schedule.currentClean[0].nextCleanDate)}
                                        button.btn.btn-warning.float-right.btn-sm Next Clean Date

