extends layout

block content
        .content-inner
            // ***** REPORT-1 *****
            #report1.row
                .col-sm-6
                    .card
                        .card-block
                            .text-left.report1-cont
                                h2.font-light.m-b-0
                                    i.ti-arrow-up.text-success
                                    |  &euro; #{wallet.totalPaid}
                                h2.text-muted Total Cost Paid for all cleans
                            span.text-success 80%
                            .progress
                                .progress-bar.bg-success(role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")
                            p
                                small Last updated #{wallet.updated}

                //- #login-modal.modal.fade(role="dialog")
                #login-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' style='display: none;')
                    .modal-dialog.modal-dialog-centered
                        // Modal content
                        .modal-content
                            .modal-header
                                button.close(type="button" data-dismiss="modal") ×
                                h4.modal-title YOU ARE ABOUT TO MAKE PAYMENTS
                            .modal-body
                                p You shall be redirected to the payment page once you click proceed to payments. Please don't click on pay twice
                                p Once you payment has been completed, kindly refresh this page to avoid being charged twice.
                                p Thank you!
                                //- p #{wallet.pendingPay[0]}
                            .modal-footer
                                //- a.btn.btn-general.btn-blue.mr-2(href="https://payments.kvetsluzeb.com/"+ client._id +"/" + wallet.pendingPay[0].cleanerID + "/" + wallet.pendingPay[0].cleanDate + "/" + wallet.pendingPay[0].cost) Check Out
                                a.btn.btn-general.btn-blue.mr-2(href="https://payment.kvetsluzeb.com?clientID="+ encodeURIComponent(client.clientID) +"&cleanerID=" + encodeURIComponent(wallet.pendingPay[0].cleanerID) + "&date=" + date + "&totalPaid=" + encodeURIComponent(wallet.pendingPay[0].cost) target="_blank") Proceed to Payment
                                //- button.btn.btn-default(type="button" data-dismiss="modal") Close

                .col-sm-6
                    .card
                        .card.card-inverse.card-info
                            .card-block
                                h3.card-title Payment Information
                                hr
                                h6.card-line
                                    strong Number of Bathrooms :
                                    |  #{clientDetails.bathrooms}
                                h6.card-line
                                    strong Number of Bedrooms :
                                    |  #{clientDetails.bedrooms}
                                h6.card-line
                                    strong Extra Tasks :
                                    |  #{clientDetails.extraTasks}
                                h6.card-line
                                    strong Number of Cleaning Hours :
                                    |  #{clientDetails.cleaningHours}
                                if wallet.pendingPay == null
                                    h6.card-line
                                        strong Total Charge :
                                        |  &euro;#{wallet.pendingPay[0]}
                                if costStatus == true
                                    a.btn.btn-general.btn-blue.mr-2.disabled(href="#") Check Out
                                    //- button.btn.btn-info.btn-lg(type="button" data-toggle="modal" data-target="#login-modal") Open Modal
                                else
                                    //- a.btn.btn-general.btn-blue.mr-2(href="https://payments.kvetsluzeb.com/"+ encodeURIComponent(client._id) +"/" + encodeURIComponent(wallet.pendingPay[0].cleanerID) + "/" + encodeURIComponent(wallet.pendingPay[0].cleanDate) + "/" + encodeURIComponent(wallet.pendingPay[0].cost)) Check Out
                                    button.btn.btn-general.btn-blue.mr-2(type="button" data-toggle="modal" data-target="#login-modal") Pay
                                    //- button.btn.btn-general.btn-blue.mr-2(href="#") Check Out



            if cleaner !== null
                .row
                    .col-sm-6.col-md-4.col-lg-3
                        .card.card-inverse.card-info
                            img.card-img-top(src="/uploads/"+cleaner.profilePic)
                            .card-block
                                h6 Client Name:
                                    h4.card-title #{cleaner.fullName}
                                h6 Mobile Number: #{cleaner.mobileNumber}
                                h6 Postcode: #{cleaner.postcode}
                            //- h4.card-title #{clientDetails.fullName}
                            .card-footer
                                small Last updated #{cleaner.updated}
                                form(method="POST", action="/rating/cleaner/"+encodeURIComponent(client.clientID)+"/"+encodeURIComponent(cleaner.cleanerID))
                                    select.rate(name="rating")
                                        option(value=1) 1
                                        option(value=2) 2
                                        option(value=3) 3
                                        option(value=4) 4
                                        option(value=5) 5
                                    button.btn.btn-info.float-right.btn-sm Rate Customer