extends layout

block content
    .content-inner.chart-cont
      //- .container
        != messages('message', locals)
        if errors
            each error, i in errors
                div(class="alert alert-danger") #{error.msg}
      // ***** CONTENT *****
      #card-prof.row.mt-2
        .col-md-3
          .card.hovercard
            .cardheader
            .upload-form
              form(method='POST', action='/client/edit/images/'+encodeURIComponent(client.clientID)+'/'+encodeURIComponent(client._id), enctype="multipart/form-data")
                .avatar.image-upload
                  label(for="file-input")
                    .overlay
                      img.img-fluid.image(alt="" title="Click Image to Update Picture" src="/uploads/"+clientDetails.profilePic)
                      //- a.icon(href="#" title="Click Image to Update Picture")
                        i.fa.fa-user
                  input#file-input(type="file" name="profilePic")
                input.btn.btn-general.btn-blue.special(type='submit' value="Change Picture")
                if picUpdate === false
                  p Please select a picture before submitting!
                else
                  p Click on the image to update your profile picture
            .info
              .title
                a(target="_blank" href="#") #{clientDetails.fullName}
              .desc #{client.email}
              hr
            nav.nav.text-center.prof-nav
              ul.list-unstyled
                //- li
                //-   a(href="#") Profile
                li
                  a(href="#") Profile
                li
                  a(href="/client/pswd/pswdchange/"+client._id) Change Password
                li
                  a(href="/client/login/logout") Logout
            .bottom
              a.btn.btn-info.btn-twitter.btn-sm(href="#")
                i.fa.fa-twitter
              a.btn.btn-danger.btn-sm(rel="publisher" href="#")
                i.fa.fa-google-plus
              a.btn.btn-primary.btn-sm(rel="publisher" href="#")
                i.fa.fa-facebook
        .col-md-9
          .card.hovercard
            .tab(role="tabpanel")
              ul.nav.nav-tabs(role="tablist")
                //- li.nav-item
                //-   a.nav-link.active(href="#profile" role="tab" data-toggle="tab")
                //-     span
                //-       i.fa.fa-user
                //-     |  Profile
                li.nav-item
                  a.nav-link.active(href="#buzz" role="tab" data-toggle="tab")
                    span
                      i.fa.fa-user
                    |  Profile
                li.nav-item
                  a.nav-link(href="#references" role="tab" data-toggle="tab")
                    span
                      i.fa.fa-cog
                    |  Edit Details
              // Tab panes
              .tab-content.tabs
                #buzz.tab-pane.fade.show.active(role="tabpanel")
                  .panel.panel-default.widget
                    .panel-body
                      p
                        | #{clientDetails.profile}
                      #report4.row

                      .row.mt-3
                        h5.col-12.mb-2 User Info
                        .col-6
                          .form-group
                            strong.mr-5
                              i.fa.fa-envelope  E-mail:
                            |     #{client.email}
                          .form-group
                            strong.mr-5
                              i.fa.fa-phone  Phone:
                            |    #{clientDetails.mobileNumber}
                          .form-group
                            strong.mr-5
                              i.fa.fa-map  City:
                            |     #{clientDetails.city}
                          .form-group
                            strong.mr-5
                              i.fa.fa-map  Country:
                            |     #{clientDetails.country}
                        .col-6
                          .form-group
                            strong.mr-5
                              i.fa.fa-globe  Postcode:
                            |     #{clientDetails.postcode}
                          .form-group
                            strong.mr-5
                              i.fa.fa-map-marker Address:
                            |    #{clientDetails.address}
                #references.tab-pane.fade(role="tabpanel")
                  form(method='POST', action='/client/edit/'+encodeURIComponent(client.clientID)+'/'+encodeURIComponent(client._id))
                    .row.mx-2
                      .col-md-12.panel-heading
                        h3.panel-title
                          i.fa.fa-comment
                          |  Edit Info
                        br
                      .col-md-6
                        .form-group.row
                          label.col-form-label(for="example-text-input" style="width: 85px;") Full Name
                          .col-9
                            input#example-text-input.form-control(type="text" name='fullName' value=clientDetails.fullName)
                        .form-group.row
                          label.col-form-label(for="example-email-input" style="width: 85px;") Postcode
                          .col-9
                            input#example-email-input.form-control(type="text" name="postcode" value=clientDetails.postcode)
                        .form-group.row
                          label.col-form-label(for="example-url-input" style="width: 85px;") Address
                          .col-9
                            textarea#example-url-input.form-control(type="text" name='address' rows='5') #{clientDetails.address}
                      .col-md-6
                        .form-group.row
                          label.col-form-label(for="example-text-input" style="width: 85px;") City
                          .col-9
                            input#example-text-input.form-control(type="text" name='city' value=clientDetails.city)
                        .form-group.row
                          label.col-form-label(for="example-text-input" style="width: 85px;") Country
                          .col-9
                            input#example-text-input.form-control(type="text" name='country' value=clientDetails.country)
                        .form-group.row
                          label.col-form-label(for="example-tel-input" style="width: 85px;") Mobile Number
                          .col-9
                            input#example-tel-input.form-control(type="tel" name="mobileNumber" value=clientDetails.mobileNumber)
                        .form-group.row
                      button.btn.btn-general.btn-blue.special(type='submit') Update




