extends layout

block content
        .content-inner
            // ***** REPORT-1 *****
            #report1.row
                .col-sm-6
                    .card
                        .card-block
                            .text-left.report1-cont
                                h2.font-light.m-b-0
                                    i.ti-arrow-up.text-success
                                    |  &euro; #{wallet.totalPaid}
                                h2.text-muted Total Income
                            span.text-success 80%
                            .progress
                                .progress-bar.bg-success(role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")
                            p
                                small Last updated #{wallet.updated}

                .col-sm-6
                    .card
                        //- .card-block
                        form#requestForm(method="POST", action="/client/transactions")
                            input(type='hidden' name='clientID' value=client.clientID)
                            input(type='hidden' name='clientName' value=clientDetails.fullName)
                            input(type='hidden' name='cleanerID' value=wallet.pendingPay.cleanerID)
                            input(type='hidden' name='date' value=wallet.pendingPay.cleanDate)
                            input(type='hidden' name='totalPay' value=wallet.pendingPay.cost)
                        .card.card-inverse.card-info
                            //- img.card-img-top(src="/admin/img/card/c-3.jpg")
                            .card-block
                                h5.card-title Payment Information
                            hr
                            h6.card-line
                                strong Number of Bathrooms :
                                |  #{clientDetails.bathrooms}
                            h6.card-line
                                strong NUmber of Bedrooms :
                                |  #{clientDetails.bedrooms}
                            h6.card-line
                                strong Extra Tasks :
                                |  #{clientDetails.extraTasks}
                            h6.card-line
                                strong Number of Cleaning Hours :
                                |  #{clientDetails.cleaningHours}
                            h6.card-line
                                strong Total Charge :
                                |  #{wallet.pendingPay.cost}
                            a.btn.btn-general.btn-blue.mr-2(href="#") Check Out
