extends layout2

block content
        .content-inner.chart-cont
            .row
                h1.titlemain ALL CLIENT REQUESTS
            // ***** CONTENT *****
            .row
                // ***** TIMELINE-1 *****
                #timeline-1.main-timeline
                    if requests === null
                        .timeline
                            .timeline-icon
                            .timeline-content
                                span.date Date
                                h5.title Cleaning Request
                                h5.title You Currently Have No Clenaing Requests!
                                p.description
                                    | You Currently Have No Cleaning Requests! You Currently Have No Clenaing Requests! You Currently Have No Clenaing Requests!
                                //- a.read-more(href="#") Accepted
                        .timeline
                            .timeline-icon
                            .timeline-content
                                span.date Date
                                h5.title Cleaning Request
                                h5.title You Currently Have No Cleaning Requests!
                                //- p.description
                                //-     | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis felis vitae risus pulvinar tincidunt. Nam ac venenatis enim. Aenean hendrerit justo sed.
                                //- a.read-more(href="#") Expired
                    else
                        each request, i in requests
                            .timeline
                                .timeline-icon
                                .timeline-content
                                    - function changeDate(dateString){
                                        //- -var newDate = new Date(dateString);
                                        //- -var newDate = date.format(newDate, 'ddd, MMM DD YYYY');
                                        //- -return newDate;
                                        -var date = new Date(dateString);
                                        -var d = date.getDate();
                                        -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
                                        -var m = monthNames[date.getMonth()];
                                        -var y = date.getFullYear();
                                        -var h = date.getHours();
                                        -var min = date.getMinutes();
                                        -return d+' '+m+' '+y+ ', '+h+ ':'+min;}

                                    span.date #{changeDate(request.dateFirstClean)}
                                    h5.date Cleaning Request from #{request.clientName} (Description Below)
                                    //- h5.title Name: #{request.clientName}
                                    h5.title Email: #{request.clientEmail}
                                    h5.title Phone Number: #{request.clientPhone}
                                    h5.title Postcode: #{request.postcode}
                                    h5.title Apartment Access: #{request.accessType}
                                    h5.title Date of First Clean: #{request.dateFirstClean}
                                    h5.title Extra Tasks: #{request.extraTasks}
                                    p.description.title
                                        | Address: #{request.address}.
                                    p.description
                                        | The Kvet Sluzeb Software would only connect you to you client. However, we provide all the necessary information needed for you to contact the client as well as what to expect in the request. If you're available and satisfied with the request accept it.


                                    unless request.status === true
                                        a.read-more(href="/cleaner/schedule/"+encodeURIComponent(request.clientID)+"/"+encodeURIComponent(cleaner._id)+"/"+encodeURIComponent(request._id)) Accept
                                    else
                                        a.read-more(href="#") Accepted

