extends layout2

block content
    .content-inner.chart-cont
      // ***** CONTENT *****
      #card-prof.row.mt-2
        .col-md-3
          .card.hovercard
            .cardheader
            form(method='POST', action='/cleaner/edit/images/'+encodeURIComponent(cleaner.cleanerID)+'/'+encodeURIComponent(cleaner._id))
              .avatar.image-upload
                label(for="file-input")
                  img.img-fluid.image(alt="" src="/uploads/"+cleanerDetails.profilePic)
                  .overlay
                    a.icon(href="#" title="Click Image to Update Picture")
                      i.fa.fa-user
                input#file-input(type="file")
              button.btn.btn-general.btn-blue.special(type='submit') Change picture
            .info
              .title
                a(target="_blank" href="#") #{cleanerDetails.fullName}
              .desc #{cleaner.email}
              hr
            nav.nav.text-center.prof-nav
              ul.list-unstyled
                //- li
                //-   a(href="#") Profile
                li
                  a(href="#") Profile
                li
                  a(href="/cleaner/pswd/pswdchange/"+cleaner._id) Change Password
                li
                  a(href="/cleaner/login/cleaner_logout") Logout

        .col-md-9
          .card.hovercard
            .tab(role="tabpanel")
              ul.nav.nav-tabs(role="tablist")
                //- li.nav-item
                //-   a.nav-link.active(href="#profile" role="tab" data-toggle="tab")
                //-     span
                //-       i.fa.fa-user
                //-     |  Profile
                li.nav-item
                  a.nav-link.active(href="#buzz" role="tab" data-toggle="tab")
                    span
                      i.fa.fa-user
                    |  Profile
                li.nav-item
                  a.nav-link(href='#references' role="tab" data-toggle="tab")
                    span
                      i.fa.fa-cog
                    |  Edit Profile
              // Tab panes
              .tab-content.tabs
                #buzz.tab-pane.fade.show.active(role="tabpanel")
                  .panel.panel-default.widget
                    .panel-body
                      p
                        | #{cleanerDetails.profile}
                      .row.mt-3
                        h5.col-12.mb-2 User Info
                        .col-6
                          .form-group
                            strong.mr-5
                              i.fa.fa-envelope  E-mail:
                            |     #{cleaner.email}
                          .form-group
                            strong.mr-5
                              i.fa.fa-phone  Phone:
                            |    #{cleanerDetails.mobileNumber}
                          .form-group
                            strong.mr-5
                              i.fa.fa-map  City:
                            |     #{cleanerDetails.city}
                          .form-group
                            strong.mr-5
                              i.fa.fa-globe  Country:
                            |     #{cleanerDetails.country}
                        .col-6
                          .form-group
                            strong.mr-5
                              i.fa.fa-globe  Postcode:
                            |     #{cleanerDetails.postcode}
                          .form-group
                            strong.mr-5
                              i.fa.fa-map-marker  Address:
                            |    #{cleanerDetails.address}
                          .form-group
                            strong.mr-5
                              i.fa.fa-money  Income/hour:
                            |    &euro;#{cleanerDetails.income}
                #references.tab-pane.fade(role="tabpanel")
                  form(method='POST', action='/cleaner/edit/'+encodeURIComponent(cleaner.cleanerID)+'/'+encodeURIComponent(cleaner._id))
                    .row.mx-2
                      .col-md-12.panel-heading
                        h3.panel-title
                          i.fa.fa-comment
                          |  Edit Info
                        br
                      .col-md-6
                        .form-group.row
                          label.col-form-label(for="example-text-input" style="width: 85px;") Full Name
                          .col-9
                            input#example-text-input.form-control(type="text" name='fullName' value=cleanerDetails.fullName)
                        .form-group.row
                          label.col-form-label(for="example-email-input" style="width: 85px;") Postcode
                          .col-9
                            input#example-email-input.form-control(type="text" name="postcode" value=cleanerDetails.postcode)
                        .form-group.row
                          label.col-form-label(for="example-url-input" style="width: 85px;") Address
                          .col-9
                            textarea#example-url-input.form-control(type="text" name='address' rows='5') #{cleanerDetails.address}
                        .form-group.row
                          label(for="exampleSelect1") Extra Tasks
                          .col-9
                            select#exampleSelect1.form-control(multiple="multiple" name="extraTasks")
                              option(value="ironing") Ironing
                              option(value="inside_windows") Inside Windows
                              option(value="inside_oven") Inside Oven
                              option(value="laundry") Laundry
                              option(value="inside_fridge") Inside Fridge
                      .col-md-6
                        .form-group.row
                          label.col-form-label(for="example-text-input" style="width: 85px;") City
                          .col-9
                            input#example-text-input.form-control(type="text" name='city' value=cleanerDetails.city)
                        .form-group.row
                          label.col-form-label(for="example-text-input" style="width: 85px;") Country
                          .col-9
                            input#example-text-input.form-control(type="text" name='country' value=cleanerDetails.country)
                        .form-group.row
                          label.col-form-label(for="example-tel-input" style="width: 85px;") Mobile Number
                          .col-9
                            input#example-tel-input.form-control(type="tel" name="mobileNumber" value=cleanerDetails.mobileNumber)
                        .form-group.row
                          label.col-form-label(for="example-tel-input" style="width: 85px;") Desired Income/hour
                          .col-9
                            input#example-tel-input.form-control(type="tel" name="income" value=cleanerDetails.income)
                        .form-group.row
                          label.col-form-label(for="example-url-input" style="width: 85px;") Profile
                          .col-9
                            textarea#example-url-input.form-control(type="text" name='profile' rows='5') #{cleanerDetails.profile}
                      button.btn.btn-general.btn-blue.special(type='submit') Update


