extends layout2

block content
        #card-1.row.mt-2
            //- p #{typeof(schedule)}
            if schedules == null
                .col-sm-12.col-md-12.col-lg-12
                    .card.card-inverse.card-info
                        .card-block
                            h4.card-title SORRY YOU HAVE NO ACCEPTED REQUESTS YET!
            if schedules != null
                each schedule, i in schedules
                    .col-sm-6.col-md-6.col-lg-6
                        .card.card-inverse.card-info
                            img.card-img-top(src="/uploads/"+clientDetails.profilePic)
                            .card-block
                            h4.card-title #{clientDetails.fullName}
                            h6 Mobile Number: #{clientDetails.mobileNumber}
                            h6 Postcode: #{clientDetails.postcode}
                            //- h4.card-title #{clientDetails.fullName}
                            .card-footer
                            small Last updated #{clientDetails.updated}
                            //- a.btn.btn-info.float-right.btn-sm(href="#")
                                //- (href="/admin/dashboard/singleclient/"+encodeURIComponent(admin._id)+"/"+encodeURIComponent(client.clientID)) View Details

                        .accrodion-regular
                            #accordion3
                                if firstClean === true
                                    .card
                                        #headingSeven.card-header
                                            h5.mb-0
                                            button.btn.btn-link(data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven")
                                                span.fa.fa-sort-desc.mr-3
                                                | There is no past Clean
                                else
                                    .card
                                        #headingSeven.card-header
                                            h5.mb-0
                                            button.btn.btn-link(data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven")
                                                span.fa.fa-sort-desc.mr-3
                                                | #{lastCleanDate}
                                        #collapseSeven.collapse.show(aria-labelledby="headingSeven" data-parent="#accordion3")
                                            .card-body
                                            p.lead
                                                | Payment Status:
                                            p
                                                | Clean Status:
                                            //- a.btn.btn-secondary(href="#") Go somewhere
                                .card.mb-2
                                    #headingEight.card-header
                                        h5.mb-0
                                        button.btn.btn-link.collapsed(data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight")
                                            span.fa.fa-sort-desc.mr-3
                                            | #{currentCleanDate}
                                    #collapseEight.collapse(aria-labelledby="headingEight" data-parent="#accordion3")
                                        .card-body
                                        p.lead
                                            | Payment Status: Not Paid
                                        p.lead
                                            | Clean Status: Not Cleaned
                                        p.lead
                                            | Income per hour: &euro;#{schedule.cleanerIncome}
                                        a.btn.btn-danger(href="#") Cancel
                                        a.btn.btn-primary(href="/cleaner/paymentrequest/"+encodeURIComponent(schedule._id)+'/'+encodeURIComponent(cleaner._id)) Request Payment
                                .card.mb-2
                                    #headingNine.card-header
                                        h5.mb-0
                                        button.btn.btn-link.collapsed(data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine")
                                            span.fa.fa-sort-desc.mr-3
                                            | #{nextCleanDate}


            //- .col-sm-6.col-md-4.col-lg-4
            //-     .card.card-inverse.card-info
            //-         img.card-img-top(src="/uploads/"+clientDetails.profilePic)
            //-         .card-block
            //-         h4.card-title #{clientDetails.fullName}
            //-         h6 Mobile Number: #{clientDetails.mobileNumber}
            //-         h6 Postcode: #{clientDetails.postcode}
            //-         //- h4.card-title #{clientDetails.fullName}
            //-         .card-footer
            //-         small Last updated #{clientDetails.updated}
            //-         //- a.btn.btn-info.float-right.btn-sm(href="#")
            //-             //- (href="/admin/dashboard/singleclient/"+encodeURIComponent(admin._id)+"/"+encodeURIComponent(client.clientID)) View Details

            //-     .accrodion-regular
            //-         #accordion3
            //-             if firstClean === true
            //-                 .card
            //-                     #headingSeven.card-header
            //-                         h5.mb-0
            //-                         button.btn.btn-link(data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven")
            //-                             span.fa.fa-sort-desc.mr-3
            //-                             | There is no past Clean
            //-             else
            //-                 .card
            //-                     #headingSeven.card-header
            //-                         h5.mb-0
            //-                         button.btn.btn-link(data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven")
            //-                             span.fa.fa-sort-desc.mr-3
            //-                             | #{lastCleanDate}
            //-                     #collapseSeven.collapse.show(aria-labelledby="headingSeven" data-parent="#accordion3")
            //-                         .card-body
            //-                         p.lead
            //-                             | Payment Status:
            //-                         p
            //-                             | Clean Status:
            //-                         //- a.btn.btn-secondary(href="#") Go somewhere
            //-             .card.mb-2
            //-                 #headingEight.card-header
            //-                     h5.mb-0
            //-                     button.btn.btn-link.collapsed(data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight")
            //-                         span.fa.fa-sort-desc.mr-3
            //-                         | #{currentCleanDate}
            //-                 #collapseEight.collapse(aria-labelledby="headingEight" data-parent="#accordion3")
            //-                     .card-body
            //-                     p.lead
            //-                         | Payment Status: Not Paid
            //-                     p.lead
            //-                         | Clean Status: Not Cleaned
            //-                     p.lead
            //-                         | Income: &euro;#{schedule.cleanerIncome}
            //-                     a.btn.btn-danger(href="#") Cancel
            //-                     span.space
            //-                     a.btn.btn-primary(href="#") Request Payment
            //-             .card.mb-2
            //-                 #headingNine.card-header
            //-                     h5.mb-0
            //-                     button.btn.btn-link.collapsed(data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine")
            //-                         span.fa.fa-sort-desc.mr-3
            //-                         | #{nextCleanDate}
